<nav style="background-color: #f8f9fa;color: white;padding: 16px;">
    <ul style="list-style-type: none;margin: 0;padding: 0;display: flex;">
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="../">Home</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="../radicals">Radical</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.9);text-decoration: none;font-size: 20px;" href="#">Evolution</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="#">Pictographic</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="../index/search/">Search</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="#">Recognition</a>
        </li>
        <li style="list-style-type: none;margin-right: 20px;">
            <a style="color: rgba(0,0,0,.5);text-decoration: none;font-size: 20px;" href="../font">Veroeros</a>
        </li>
    </ul>
</nav>
